html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  padding-block-start: 4rem;
  font-size: 1.6rem;
  font-family: monospace;
  text-align: center;
  border: 0.5px solid black;
  margin: 2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-block-end: 2rem;
}

p {
  margin-block-end: 2rem;
}

.buttonSection {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
button {
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  padding: 0.7rem;
  font-size: 1.4rem;
  font-family: monospace;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid black;
}

.buttonSection button:nth-child(odd):hover {
  background-color: rgb(161, 217, 161);
  cursor: crosshair;
}

.buttonSection button:nth-child(odd):active {
  background-color: rgb(115, 151, 115);
}

.buttonSection button:nth-child(even):hover {
  background-color: rgb(220, 155, 209);
  cursor: pointer;
}
.buttonSection button:nth-child(even):active {
  background-color: rgb(192, 136, 183);
}

i {
  margin-inline-start: 1rem;
}
